.title {
    margin: 24px 0 16px;
}

.back-button {
    padding: 4px 12px 4px 12px;
    color: whitesmoke;
    background-color: dodgerblue;
    border: none;
    border-radius: 4px;
}

img {
    margin-bottom: 16px;
    border-radius: 4px;
    width: 300px; // Set the desired width */
    height: auto;
}